<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Online Library</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#"
            >Home <span class="sr-only">(current)</span></a
          >
        </li>
      </ul>
    </div>
  </nav>
  <div id="alertuser"></div>

  <!-- <div class="container my-3">
    <h1>Welcome to My Library</h1>
    <hr />
    <form id="mylibraryform">
      <div class="form-group">
        <label for="exampleInputPassword1">Book Name</label>
        <input type="text" class="form-control" id="book-name" required />
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Price</label>
        <input
          type="text"
          class="form-control"
          id="price"
          aria-describedby="emailHelp"
          required
        />
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Total Pages</label>
        <input
          type="number"
          class="form-control"
          id="total-pages"
          aria-describedby="emailHelp"
          required
        />
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Description</label>
        <input
          type="text"
          class="form-control"
          id="description"
          aria-describedby="emailHelp"
          required
        />
      </div>

      <button type="submit" class="btn btn-outline-dark">Add Book</button>
    </form>
  </div> -->
  <div class="container">
    <!-- <h4>Stored Books</h4>
    <hr />
    <table class="table">
      <thead>
        <tr>
          <th>Title</th>
          <th>Net Price</th>
          <th>Description</th>
          <th>Page Total</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Book 1</td>
          <td>19.99</td>
          <td>A thrilling adventure</td>
          <td>300</td>
        </tr> -->
    <app-book-item></app-book-item>
    <!-- </tbody>
    </table> -->
  </div>
</body>
